<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
        <bean id="emp1" class="com.qa.spring.beans.Employee">
        <constructor-arg>
        	<value>111</value>
        </constructor-arg>
        <constructor-arg>
        	<value>emp1</value>
        </constructor-arg>
        <constructor-arg>
        	<value>34534.34</value>
        </constructor-arg>
        </bean>   
        <bean id = "emp2" class="com.qa.spring.beans.Employee">
        <constructor-arg index="0" type="int" value="222"></constructor-arg>
        <constructor-arg index="1" type="java.lang.String" value="emp2"></constructor-arg>
        <constructor-arg index="2" type="double" value="23432.23"></constructor-arg>
        </bean>
        
        <bean id="homeaddress" class="com.qa.spring.beans.Address">
        <property name="houseNo" value="1-11"></property>
        <property name="street" value="Church Street"></property>
        <property name="zipCode" value="456456"></property>
        </bean>
        <bean id="officeaddress" class="com.qa.spring.beans.Address">
        <property name="houseNo" value="2-22"></property>
        <property name="street" value="Beach road"></property>
        <property name="zipCode" value="6565645"></property>
        </bean>
</beans>